.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  background: linear-gradient(90deg, #2b0a3d, #7b1fa2);
  color: white;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff4fc3;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: #ffb3ff;
}
