:root {
  --purple-dark: #2b1055;
  --purple-main: #6a11cb;
  --purple-light: #9b5de5;

  --pink-main: #ff2f92;
  --pink-light: #ff7ac6;

  --white: #ffffff;
  --glass: rgba(255, 255, 255, 0.18);
}

